<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <form action="/products/<%= p.id_producto %>/edit?_method=PUT" method="POST" enctype="multipart/form-data" class="formEdit">
            <div class=ingresoManual>
                <p class="ingresa-cuenta">Edita el producto</p><br>
                <label for="nombre">Nombre de producto</label>
                <input class="nombre" type="text" name="nombre" placeholder="Nombre del Producto" value="<%= locals.oldData ? oldData.nombre : p.nombre %>">
                <div class="notificacion_error nombre_error"></div>
                <% if (locals.errors && errors.nombre) { %>
                    <div class="notificacion_error">
                        <%= errors.nombre.msg %> 
                    </div>
                <% } %>
                <label for="descripcion" >Descripción del producto</label>
                <textarea class="descripcion" type="text" name="descripcion" rows="10" cols="50" placeholder="Descripcion del producto"><%= locals.oldData ? oldData.descripcion : p.descripcion %></textarea>
                <div class="notificacion_error descripcion_error"></div>
                <% if (locals.errors && errors.descripcion) { %>
                    <div class="notificacion_error">
                        <%= errors.descripcion.msg %> 
                    </div>
                <% } %>
                <label for="precio">Precio</label>
                <input class="precio" type="text" name="precio" placeholder="Precio" value="<%= locals.oldData ? oldData.precio : p.precio %>">
                <% if (locals.errors && errors.precio) { %>
                    <div class="notificacion_error">
                        <%= errors.precio.msg %> 
                    </div>
                <% } %>
                <label for="descuento">Descuento</label>
                <input class="descuento" type="text" name="descuento" placeholder="Descuento" value="<%= locals.oldData ? oldData.descuento : p.descuento %>">
                <% if (locals.errors && errors.descuento) { %>
                    <div class="notificacion_error">
                        <%= errors.descuento.msg %> 
                    </div>
                <% } %>
                <label for="categoria">Categoría</label>
                <span class="aclaracion-imagen"><br>
                    En caso de no seleccionar ninguna categoria, quedara la misma que se cargo originalmente.
                </span>
                <select class="categoria" name="categoria">
                    <option disabled selected value> Seleccionar Categoría </option>
                    <% for (let i=0; i < c.length; i++) { %>
                        <% if(c[i].id_categoria === p.id_categoria_FK ) { %>
                            <option value="<%= c[i].id_categoria %>" selected>
                                <%= c[i].nombre %>
                            </option>
                        <% }else{ %>
                            <option value="<%= c[i].id_categoria %>">
                                <%= c[i].nombre %>
                            </option>
                        <% } %> 
                    <% } %>
                </select>
                <% if (locals.errors && errors.categoria) { %>
                    <div class="notificacion_error">
                        <%= errors.categoria.msg %> 
                    </div>
                <% } %>
                <label for="imagen">Imagen</label>
                <span class="aclaracion-imagen"><br>
                    La imagen debe ser de 1000 x 1000 píxeles y fondo. <br>
                    En caso de no subir ninguna imagen, quedara la misma imagen anterior.
                </span>
                <div class="imagen-edit">
                    <img class="imagenEdit" src="/images/productos/<%=p.imagen%>" alt="">
                </div>
                <input class="imagen" type="file" name="imagen" accept=".jpg, .png"></input>
                <div class="notificacion_error"></div>
                <% if (locals.errors && errors.imagen) { %>
                    <div class="notificacion_error">
                        <%= errors.imagen.msg %> 
                    </div>
                <% } %>
                <button type="submit" class="editar" value="Editar">Editar</button>
            </div>
        </form>
    <%- include('../partials/footer') %>
    <script type="text/javascript" src="/js/form_validations/validationFrontCharge.js"></script>
</body>
</html>