<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <main>
        <form action="/products/charge" method="POST" enctype="multipart/form-data">
            <div class=ingresoManual>
                <p class="ingresa-cuenta">Cargá un nuevo producto</p><br>
                <label for="nombre">Nombre de producto</label>
                <input class="nombre" type="text" name="nombre" placeholder="Nombre del Producto" value="<%= locals.oldData ? oldData.nombre : null %>">
                <% if (locals.errors && errors.nombre) { %>
                    <div class="notificacion_error">
                        <%= errors.nombre.msg %> 
                    </div>
                <% } %>
                <label for="descripcion" >Descripción del producto</label>
                <textarea class="descripcion" type="text" name="descripcion" rows="10" cols="50" placeholder="Descripcion del producto" value="<%= locals.oldData ? oldData.descripcion : null %>"></textarea><br>
                <% if (locals.errors && errors.descripcion) { %>
                    <div class="notificacion_error">
                        <%= errors.descripcion.msg %> 
                    </div>
                <% } %>
                <label for="precio">Precio</label>
                <input class="precio" type="text" name="precio" placeholder="Precio" value="<%= locals.oldData ? oldData.precio : null %>"> 
                <% if (locals.errors && errors.precio) { %>
                    <div class="notificacion_error">
                        <%= errors.precio.msg %> 
                    </div>
                <% } %>
                <label for="descuento">Descuento</label>
                <input class="descuento" type="text" name="descuento" placeholder="Descuento" value="<%= locals.oldData ? oldData.descuento : null %>">
                <% if (locals.errors && errors.descuento) { %>
                    <div class="notificacion_error">
                        <%= errors.descuento.msg %> 
                    </div>
                <% } %>
                <label for="categoria">Categoría</label>
                <select class="categoria" name="categoria">
                    <option value="0">Seleccione una categoria</option>
                    <option value="1" <%= locals.old && old.categoria === 1 ? 'selected' : ''; %>>Bebidas</option>
                    <option value="2" <%= locals.old && old.categoria === 2 ? 'selected' : ''; %>>Snaks</option>
                </select>
                <% if (locals.errors && errors.categoria) { %>
                    <div class="notificacion_error">
                        <%= errors.categoria.msg %> 
                    </div>
                <% } %>
                <label for="imagen">Imagen</label>
                <span class="aclaracion-imagen">(La imagen debe ser de 1000 x 1000 píxeles y fondo blanco)</span>
                <input class="imagen" type="file" name="imagen" accept=".jpg, .png">
                <% if (locals.errors && errors.imagen) { %>
                    <div class="notificacion_error">
                        <%= errors.imagen.msg %> 
                    </div>
                <% } %>
                <button class="editar" type="submit" value="Editar">Subir</button>
            </div>
        </form>
    <%- include('../partials/footer') %>
</body>
</html>

  
    
