<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
    <%- include('../partials/header') %>
    <main>
    <div id="contenedor">
        <div id="registro"><h1>Editar Perfil</h1></div>
        <div id="form">
            <form action="/users/<%= usuario.id_usuario %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <img src="/images/usuarios/<%= usuario.imagen %>" alt="defaul-profile-image">
                </div>
                <div class=ingresoManual>
                    <p>Nombre</p>
                    <p><%= usuario.nombre %></p>
                    <p>Apellido</p>
                    <p><%= usuario.apellido %></p>
                    <p>Email</p>
                    <p><%= usuario.correo %></p>
                    <p>Direccion de envio</p>
                    <p><%= usuario.direccion %></p>
                    <p>Telefono</p>
                    <p><%= usuario.telefono %></p>
                    <p>Fecha de Nacimiento</p>
                    <p><%= usuario.nacimiento %></p>
                </div>
                <div class="ingresos">
                    <button type="submit" class="ingresar" >Editar Perfil</button>
                    <a href="/users/logout" class="registrate" >Cerrar Sesion</a>
                </div>
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>    
</body>
</html>