<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
    <%- include('../partials/header') %>
    <main>
    <div id="contenedor">
        <div id="form">
            <h2 class="titulo-profile"><%= usuario.nombre %> estos son tus datos personales:</h2><br>
            <form action="/users/<%= usuario.id_usuario %>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="cont">
                    <div class="form-group-profile">
                        <img src="/images/usuarios/<%= usuario.imagen %>" alt="defaul-profile-image">
                    </div>
                    <div class="cont1">
                        <p>Nombre: <%= usuario.nombre %></p>
                        <p>Apellido: <%= usuario.apellido %></p>
                        <p>Email: <%= usuario.correo %></p>
                        <p>Direccion de envio: <%= usuario.direccion %></p>
                        <p>Telefono: <%= usuario.telefono %></p>
                        <p>Fecha de Nacimiento: <%= usuario.fecha_nacimiento %></p>
                    </div>
                </div><br>
                <div class="ingresos">
                    <a class="ingresar" href="/users/<%= usuario.id_usuario %>/edit">Editar Perfil</a>
                    <a href="/users/logout" class="registrate" >Cerrar Sesion</a>
                </div>
            </form>
        </div>
    </div>
    <%- include('../partials/footer') %>    
</body>
</html>